.flex1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.generate-form {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #fff;
  margin-right: 0px !important;
  width: 80% !important;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 20px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 20px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

@media (max-width: 1350px) {
  .generate-form {
    width: 100% !important;
  }
}

.generate-form .selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.generate-form .levels {
  width: 50%;
  margin-bottom: 10px;
}

@media (max-width: 1350px) {
  .generate-form .levels {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .generate-form .levels {
    width: 100% !important;
  }
}

.generate-form .margin input {
  margin-right: 6px;
}

.generate-form .radio-inline {
  margin-right: 20px;
}

.generate-form .select2 {
  margin-left: 10px;
  width: 100px !important;
  height: 28px !important;
  margin-bottom: 10px;
  border-radius: 5px;
}

.generate-form .generateQuestionText {
  display: block;
  width: 100%;
  min-height: 100px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  resize: none;
}

.generate-form .custom-file-upload {
  text-align: center;
}

.generate-form .generateQuestionsButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading {
  height: calc(80vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: auto;
}

.uploadTxtFile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.uploadTxtFile p {
  width: 200px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  padding-top: 2px;
}

.uploadTxtFile .uploadFile {
  cursor: pointer;
  margin-bottom: 0px;
  margin-right: 10px;
}

.generatedsContainer1 {
  height: calc(105vh - 100px);
  overflow: auto;
  margin-bottom: 10px;
  border-radius: 20px;
  padding-bottom: 20px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

@media (max-width: 1100px) {
  .generatedsContainer1 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0px;
  }
}

.generatedsContainer {
  background-color: #f3f4f7 !important;
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 900px) {
  .generatedsContainer {
    padding: 0px;
  }
}

.generatedsContainer .selected {
  background-color: #0c0cc040 !important;
}

.generatedsContainer .TorF {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center !important;
  right: 100%;
  font-size: 24px;
}

.generatedsContainer .protected,
.generatedsContainer .proline {
  display: none;
}

.generatedsContainer .clicked .protected {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center !important;
  right: 100%;
  font-size: 24px;
  color: #4e73df;
}

.generatedsContainer .clicked .proline {
  display: block;
}

.generatedsContainer .editQuestion {
  cursor: pointer;
  margin-left: 10px;
  width: 0px;
  color: #4e73df;
  position: relative;
  font-size: 25px;
  background: transparent;
  margin: 10px auto 5px;
}

.generatedsContainer .editQuestion .editHover {
  position: absolute;
  padding: 5px;
  z-index: 3;
  right: 10px !important;
  display: none;
  width: 85px;
  font-size: 13px;
  color: white;
  background-color: black;
  border-radius: 100px;
  top: 0px;
}

.generatedsContainer .editQuestion:hover .editHover {
  display: block;
}

.generatedsContainer .editQuestion:focus {
  outline: none;
}

.generatedsContainer .generatedItem {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  cursor: pointer;
  width: 100%;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 10px;
  display: block !important;
  -ms-flex-preferred-size: 100% !important;
      flex-basis: 100% !important;
  -webkit-box-shadow: 0 2px 4px 0 rgba(188, 188, 211, 0.4);
          box-shadow: 0 2px 4px 0 rgba(188, 188, 211, 0.4);
  border-radius: 10px;
  padding: 20px;
  -ms-flex-preferred-size: 96%;
      flex-basis: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.generatedsContainer .generatedItem:hover {
  -webkit-box-shadow: 0 9px 18px 0 rgba(188, 188, 212, 0.4);
          box-shadow: 0 9px 18px 0 rgba(188, 188, 212, 0.4);
}

@media (max-width: 900px) {
  .generatedsContainer .generatedItem {
    width: 98% !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
}

@media (max-width: 1150px) {
  .generatedsContainer .generatedItem {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.generatedsContainer .generatedItem .typeAndDomain {
  margin-bottom: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .generatedsContainer .generatedItem .typeAndDomain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.generatedsContainer .generatedItem .line {
  width: 90%;
  margin: 0px auto 15px;
  height: 1px;
  background-color: rgba(45, 69, 149, 0.432);
}

.generatedsContainer .generatedItem .generatedContent {
  margin: 10px 0 15px 0;
}

.generatedsContainer .generatedItem .TQuestionDistractors {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
  margin-top: 0px;
}

.generatedsContainer .generatedItem .TQuestionDistractors p {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 600px) {
  .generatedsContainer .generatedItem .TQuestionDistractors {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.generatedsContainer .generatedItem .trueOrFalse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.generatedsContainer .generatedItem .generatedDistractors {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.generatedsContainer .generatedItem .generatedDistractors p {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 600px) {
  .generatedsContainer .generatedItem .generatedDistractors {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.saveQuestionsButton {
  width: 100%;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0px;
}

@media (max-width: 700px) {
  .saveQuestionsButton {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.saveQuestionsButton h3 {
  text-align: center;
}

@media (max-width: 700px) {
  .saveQuestionsButton h3 {
    font-size: 20px;
    margin: auto 0;
  }
}

@media (max-width: 530px) {
  .saveQuestionsButton h3 {
    font-size: 15px;
    margin: auto 0;
  }
}

.saveQuestionsButton .selectdiv {
  position: relative;
  overflow: visible;
  margin: 0px;
  z-index: 100;
  font-size: 20px;
  margin-right: 10px;
  background-color: white;
  color: #4e73df;
  padding: auto 0;
}

@media (max-width: 400px) {
  .saveQuestionsButton .selectdiv {
    font-size: 17px;
    width: 30px;
    height: 35px;
  }
}

.saveQuestionsButton .selectdiv:hover {
  background-color: white;
  color: #4e73df;
}

.saveQuestionsButton .selectdiv:hover p {
  display: block;
}

@media (max-width: 450px) {
  .saveQuestionsButton .selectdiv:hover p {
    display: none;
  }
}

.saveQuestionsButton .selectdiv p {
  position: absolute;
  color: white;
  top: -20px;
  left: -60px;
  font-size: 12px;
  border-radius: 20px;
  display: none;
  z-index: 100000;
  padding: 7px;
  background-color: black;
}

@media (max-width: 400px) {
  .saveQuestionsButton .selectdiv p {
    left: 35px;
  }
}

.saveQuestionsButton .unSelectdiv {
  position: relative;
  overflow: visible;
  margin: 0px;
  margin-left: 10px;
  font-size: 20px;
}

.saveQuestionsButton .unSelectdiv:focus p {
  display: none;
}

@media (max-width: 400px) {
  .saveQuestionsButton .unSelectdiv {
    font-size: 17px;
    width: 30px;
    height: 35px;
  }
}

.saveQuestionsButton .unSelectdiv:hover p {
  display: block;
}

@media (max-width: 450px) {
  .saveQuestionsButton .unSelectdiv:hover p {
    display: none;
  }
}

.saveQuestionsButton .unSelectdiv p {
  position: absolute;
  color: white;
  top: -20px;
  right: -70px;
  font-size: 12px;
  border-radius: 20px;
  display: none;
  z-index: 100000;
  padding: 7px;
  background-color: black;
}

@media (max-width: 400px) {
  .saveQuestionsButton .unSelectdiv p {
    right: 35px;
  }
}

.saveQ {
  position: fixed;
  bottom: 50px;
  right: 40px;
}

.saveQ button {
  position: relative;
  border-radius: 100% !important;
  font-size: 25px;
  overflow: visible;
}

.saveQ button:hover p {
  display: block;
}

@media (max-width: 450px) {
  .saveQ button:hover p {
    display: none;
  }
}

.saveQ button p {
  position: absolute;
  width: 100px;
  color: white;
  top: -40px;
  right: -10%;
  font-size: 12px;
  border-radius: 20px;
  display: none;
  z-index: 100000;
  padding: 7px;
  background-color: black;
}
/*# sourceMappingURL=style.css.map */