.flex1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.generate-form {
    padding: 20px 30px;
    display: flex;
    flex-flow: column;

    background-color: #fff;
    margin-right: 0px !important;
    width: 80% !important;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 20px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    @media (max-width: 1350px) {
        width: 100% !important;
    }
    .selects {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }
    .levels {
        width: 50%;
        margin-bottom: 10px;
        @media (max-width: 1350px) {
            width: 50% !important;
        }
        @media (max-width: 900px) {
            width: 100% !important;
        }
    }
    @media (max-width: 600px) {
        width: 100% !important;
    }
    .margin {
        input {
            margin-right: 6px;
        }
    }

    .radio-inline {
        margin-right: 20px;
    }

    .select2 {
        margin-left: 10px;
        width: 100px !important;
        height: 28px !important;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .generateQuestionText {
        display: block;
        width: 100%;
        min-height: 100px;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        color: #6e707e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #d1d3e2;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        resize: none;
    }
    .custom-file-upload {
        text-align: center;
    }
}

.loading {
    height: calc(80vh - 100px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    div {
        display: flex;
        flex-flow: column;
        margin: auto;
    }
}
