.flex1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.generate-form {
    padding: 20px 30px;
    display: flex;
    flex-flow: column;

    background-color: #fff;
    margin-right: 0px !important;
    width: 80% !important;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 20px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    @media (max-width: 1350px) {
        width: 100% !important;
    }
    .selects {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }
    .levels {
        width: 50%;
        margin-bottom: 10px;
        @media (max-width: 1350px) {
            width: 50% !important;
        }
        @media (max-width: 900px) {
            width: 100% !important;
        }
    }
    @media (max-width: 600px) {
        width: 100% !important;
    }
    .margin {
        input {
            margin-right: 6px;
        }
    }

    .radio-inline {
        margin-right: 20px;
    }

    .select2 {
        margin-left: 10px;
        width: 100px !important;
        height: 28px !important;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .generateQuestionText {
        display: block;
        width: 100%;
        min-height: 100px;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        color: #6e707e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #d1d3e2;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        resize: none;
    }
    .custom-file-upload {
        text-align: center;
    }

    .generateQuestionsButton {
        display: flex;
        justify-content: center;
    }
}

.loading {
    height: calc(80vh - 100px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    div {
        display: flex;
        flex-flow: column;
        margin: auto;
    }
}

.uploadTxtFile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    p {
        width: 200px;
        height: 30px;
        border: 1px solid black;
        text-align: center;
        padding-top: 2px;
    }
    .uploadFile {
        cursor: pointer;
        margin-bottom: 0px;
        margin-right: 10px;
    }
}

.generatedsContainer1 {
    height: calc(105vh - 100px);
    overflow: auto;
    margin-bottom: 10px;
    border-radius: 20px;

    padding-bottom: 20px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    @media (max-width: 1100px) {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0px;
    }
}

.generatedsContainer {
    background-color: #f3f4f7 !important;

    padding: 30px 30px;

    display: flex;
    @media (max-width: 900px) {
        padding: 0px;
    }
    flex-wrap: wrap;
    // form{
    //     display: flex;
    //     width: 100%;
    //     justify-content: space-between;
    //     .dropDown{
    //         display: inline-block;
    //         border: 2px solid;
    //         background-color: white;
    //         width: 120px;
    //         height: 40px;
    //     }
    // }
    .selected {
        background-color: #0c0cc040 !important;
    }

    // & .generatedItem:nth-child(odd) {
    //     margin-right: 4%;
    // }
    .TorF {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center !important;
        right: 100%;
        font-size: 24px;
        color: #08a431;
    }

    .protected,
    .proline {
        display: none;
    }
    .clicked {
        .protected {
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center !important;
            right: 100%;
            font-size: 24px;
            color: #4e73df;
        }
        .proline {
            display: block;
        }
    }
    .generatedItem {
        flex-basis: 48%;
        cursor: pointer;
        width: 100%;
        background-color: white;
        transition: 0.3s;
        margin-bottom: 30px;

        box-shadow: 0 2px 4px 0 rgba(188, 188, 211, 0.4);
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-flow: column;
        flex-basis: 96%;
        margin-left: 2%;
        margin-right: 2%;
        &:hover {
            box-shadow: 0 9px 18px 0 rgba(188, 188, 212, 0.4);
        }

        @media (max-width: 900px) {
            display: block !important;
            flex-basis: 100% !important;
            margin: 5px !important;
        }

        @media (max-width: 1150px) {
            flex-basis: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }

        .typeAndDomain {
            margin-bottom: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            @media (max-width: 600px) {
                flex-flow: column;
                align-items: center;
            }
        }
        .line {
            width: 90%;
            margin: 0px auto 15px;
            height: 1px;
            background-color: hsla(226, 54%, 38%, 0.432);
        }
        .generatedContent {
            margin: 10px 0 15px 0;
        }
        .TQuestionDistractors {
            width: 100%;
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 15px;
            margin-top: 0px;

            p {
                flex-basis: 50%;
            }
            @media (max-width: 600px) {
                flex-flow: column;
                align-items: center;
            }
        }
        .trueOrFalse {
            display: flex;
            justify-content: space-evenly;
        }
        .generatedDistractors {
            width: 100%;
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;

            p {
                flex-basis: 50%;
            }
            @media (max-width: 600px) {
                flex-flow: column;
                align-items: center;
            }
        }
    }
}

.saveQuestionsButton {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    // position: absolute;
    // justify-content: space-between;
    @media (max-width: 700px) {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    h3 {
        text-align: center;
        @media (max-width: 700px) {
            font-size: 20px;
            margin: auto 0;
        }
        @media (max-width: 530px) {
            font-size: 15px;
            margin: auto 0;
        }
    }

    .selectdiv {
        position: relative;
        overflow: visible;
        margin: 0px;
        z-index: 100;
        font-size: 20px;
        margin-right: 10px;
        background-color: white;
        color: #4e73df;
        padding: auto 0;
        @media (max-width: 400px) {
            font-size: 17px;
            width: 30px;
            height: 35px;
        }
        &:hover {
            background-color: white;
            color: #4e73df;
            p {
                display: block;
                @media (max-width: 450px) {
                    display: none;
                }
            }
        }
        p {
            position: absolute;
            color: white;
            top: -20px;
            left: -60px;
            font-size: 12px;
            border-radius: 20px;
            display: none;
            z-index: 100000;
            padding: 7px;
            background-color: black;
            @media (max-width: 400px) {
                left: 35px;
            }
        }
    }
    .unSelectdiv {
        position: relative;
        overflow: visible;
        margin: 0px;
        margin-left: 10px;
        font-size: 20px;
        &:focus {
            p {
                display: none;
            }
        }
        @media (max-width: 400px) {
            font-size: 17px;
            width: 30px;
            height: 35px;
        }
        &:hover {
            p {
                display: block;
                @media (max-width: 450px) {
                    display: none;
                }
            }
        }
        p {
            position: absolute;
            color: white;
            top: -20px;
            right: -70px;
            font-size: 12px;
            border-radius: 20px;
            display: none;
            z-index: 100000;
            padding: 7px;
            background-color: black;
            @media (max-width: 400px) {
                right: 35px;
            }
        }
    }
}

.saveQ {
    position: fixed;
    bottom: 50px;
    right: 40px;
    button {
        position: relative;
        border-radius: 100% !important;
        font-size: 25px;
        overflow: visible;
        &:hover {
            p {
                display: block;
                @media (max-width: 450px) {
                    display: none;
                }
            }
        }
        p {
            position: absolute;
            width: 100px;
            color: white;
            top: -40px;
            right: -10%;
            font-size: 12px;
            border-radius: 20px;
            display: none;
            z-index: 100000;
            padding: 7px;
            background-color: black;
        }
    }
}
