.flex1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.generate-form {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #fff;
  margin-right: 0px !important;
  width: 80% !important;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 20px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 20px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

@media (max-width: 1350px) {
  .generate-form {
    width: 100% !important;
  }
}

.generate-form .selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.generate-form .levels {
  width: 50%;
  margin-bottom: 10px;
}

@media (max-width: 1350px) {
  .generate-form .levels {
    width: 50% !important;
  }
}

@media (max-width: 900px) {
  .generate-form .levels {
    width: 100% !important;
  }
}

@media (max-width: 600px) {
  .generate-form {
    width: 100% !important;
  }
}

.generate-form .margin input {
  margin-right: 6px;
}

.generate-form .radio-inline {
  margin-right: 20px;
}

.generate-form .select2 {
  margin-left: 10px;
  width: 100px !important;
  height: 28px !important;
  margin-bottom: 10px;
  border-radius: 5px;
}

.generate-form .generateQuestionText {
  display: block;
  width: 100%;
  min-height: 100px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  resize: none;
}

.generate-form .custom-file-upload {
  text-align: center;
}

.generate-form .generateQuestionsButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading {
  height: calc(80vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: auto;
}

.generatedsContainer1 {
  height: calc(105vh - 100px);
  overflow: auto;
  margin-bottom: 10px;
}

.generatedsContainer {
  background-color: #f3f4f7 !important;
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.generatedsContainer .selected {
  background-color: #0c0cc040 !important;
}

.generatedsContainer .generatedItem:nth-child(odd) {
  margin-right: 4%;
}

.generatedsContainer .generatedItem {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  cursor: pointer;
  width: 100%;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(188, 188, 211, 0.4);
          box-shadow: 0 2px 4px 0 rgba(188, 188, 211, 0.4);
  border-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.generatedsContainer .generatedItem:hover {
  -webkit-box-shadow: 0 9px 18px 0 rgba(188, 188, 212, 0.4);
          box-shadow: 0 9px 18px 0 rgba(188, 188, 212, 0.4);
}

@media (max-width: 600px) {
  .generatedsContainer .generatedItem {
    display: block !important;
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (max-width: 1150px) {
  .generatedsContainer .generatedItem {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.generatedsContainer .generatedItem .typeAndDomain {
  margin-bottom: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .generatedsContainer .generatedItem .typeAndDomain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.generatedsContainer .generatedItem .line {
  width: 90%;
  margin: 0px auto 15px;
  height: 1px;
  background-color: rgba(45, 69, 149, 0.432);
}

.generatedsContainer .generatedItem .generatedContent {
  margin: 10px 0 15px 0;
}

.generatedsContainer .generatedItem .generatedDistractors {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.generatedsContainer .generatedItem .generatedDistractors p {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 600px) {
  .generatedsContainer .generatedItem .generatedDistractors {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.saveQuestionsButton {
  width: 100%;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */