.GenerateExamContainer {
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  .GenerateExamContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.GenerateExamContainer .options1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  background-color: #5d77a9;
  margin-bottom: 20px;
}

@media (max-width: 880px) {
  .GenerateExamContainer .options1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.GenerateExamContainer .options1 .searchExamButton {
  margin: 0 20px;
}

.GenerateExamContainer .options1 .notShown {
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
}

.GenerateExamContainer .options1 .shown {
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}

.GenerateExamContainer .options1 .option1 {
  margin: auto;
  cursor: pointer;
}

@media (max-width: 880px) {
  .GenerateExamContainer .options1 .option1 {
    margin: auto 10px;
  }
}

.GenerateExamContainer .options1 .line {
  width: 1px;
  margin: 5px 0;
  height: 20px;
  background-color: black;
}

.GenerateExamContainer .line {
  width: 90%;
  margin: 20px auto;
  height: 5px;
  background-color: black;
}

.GenerateExamContainer .following {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 22px;
}

.GenerateExamContainer .examHalf {
  width: 48%;
  height: calc(100vh - 100px);
  background-color: transparent;
  padding: 0px;
}

@media (max-width: 1000px) {
  .GenerateExamContainer .examHalf {
    width: 100%;
    margin-bottom: 30px;
  }
}

.GenerateExamContainer .examDetails {
  background-color: white;
  overflow: auto;
  padding: 5px 10px;
}

.GenerateExamContainer .examDetails .questionForm {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.GenerateExamContainer .examDetails .questionForm .questionInputText {
  display: block;
  width: 100%;
  min-height: 50px !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  resize: none;
}

.GenerateExamContainer .examDetails .questionForm .questionInputSubmit {
  width: 40%;
  height: 20px;
  margin: 10px auto;
}

.GenerateExamContainer .examDetails .ExamQuestionItem {
  margin: 10px 0 30px;
  width: 90%;
  padding: 5px;
  position: relative;
}

.GenerateExamContainer .examDetails .ExamQuestionItem .deleteItem {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 0px;
  right: -10px;
}

.GenerateExamContainer .examDetails .ExamQuestionItem .question {
  font-weight: bold;
  font-size: 17px;
}

.GenerateExamContainer .examDetails .ExamQuestionItem ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin-top: 10px;
  margin-left: 35px;
}

.GenerateExamContainer .examDetails .ExamQuestionItem ol li {
  width: 100%;
  margin-bottom: 5px;
}

.GenerateExamContainer .examDetails .ExamQuestionItem ol form {
  width: 100%;
  position: relative;
  margin-bottom: 5px;
}

.GenerateExamContainer .examDetails .ExamQuestionItem ol form .distrr {
  width: 90%;
  font-size: 15px;
  min-height: 15px !important;
  margin-bottom: 7px;
  resize: none;
}

.GenerateExamContainer .examDetails .ExamQuestionItem ol form button[type=submit] {
  cursor: pointer;
  position: absolute;
  margin-left: 10px;
  height: 0px;
  right: 9%;
  width: 0px;
  top: -5px;
  font-size: 18px;
  background: transparent;
}

.GenerateExamContainer .examDetails .ExamQuestionItem ol form .pointer {
  position: absolute;
  top: 17px;
  font-size: 18px;
  width: 0px;
  height: 0px;
  right: 9%;
}

.GenerateExamContainer .examDetails .examTitle {
  margin-top: 20px;
  margin-left: 5px;
  font-size: 20px;
}

.GenerateExamContainer .examDetails .examTitle p {
  margin-bottom: 2px;
}

.GenerateExamContainer .examTools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.GenerateExamContainer .examTools .ExamToolsNav {
  width: 100%;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
}

.GenerateExamContainer .examTools .ExamToolBody {
  width: 100%;
  padding: 10px;
  height: calc(92vh - 100px);
  overflow: auto;
  background-color: white;
}

.GenerateExamContainer .generateButtonContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.GenerateExamContainer .generateButtonContainer .generateButton,
.GenerateExamContainer .generateButtonContainer .selectButton {
  margin: 10px auto;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.examsBar2 {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */