.GenerateExamContainer {
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    @media (max-width: 900px) {
        flex-direction: column;
    }
    .options1 {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        padding: 5px;

        background-color: #5d77a9;
        margin-bottom: 20px;
        @media (max-width: 880px) {
            justify-content: center;
        }

        .searchExamButton {
            margin: 0 20px;
        }
        .option1 {
            margin: auto;
            cursor: pointer;
            @media (max-width: 880px) {
                margin: auto 10px;
            }
            // font-size: 16px;
            // font-weight: bold;
        }
        .line {
            width: 1px;
            margin: 5px 0;
            height: 20px;
            background-color: black;
        }
    }

    .line {
        width: 90%;
        margin: 20px auto;
        height: 5px;
        background-color: black;
    }
    .following {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 22px;
    }
    .examHalf {
        width: 48%;
        height: calc(100vh - 100px);
        background-color: transparent;
        padding: 0px;
        @media (max-width: 900px) {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .examDetails {
        background-color: white;
        overflow: auto;
        padding: 5px 10px;
        .questionForm {
            width: 90%;
            display: flex;
            justify-content: center;
            flex-flow: column;
            .questionInputText {
                display: block;
                width: 100%;
                min-height: 50px !important; 
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                font-weight: 400;
                color: #6e707e;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #d1d3e2;
                border-radius: 0.35rem;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                resize: none;
            }
            .questionInputSubmit {
                width: 40%;
                height: 20px;
                // margin-top: 10px;
                margin: 10px auto;
            }
        }

        .ExamQuestionItem {
            margin: 10px 0 30px;
            width: 90%;
            padding: 5px;
            position: relative;
            .deleteItem {
                color: black;
                font-size: 20px;
                position: absolute;
                top: 0px;
                right: -10px;
            }
            .question {
                font-weight: bold;
                font-size: 17px;
            }
            ol {
                display: flex;
                flex-flow: wrap;
                flex-basis: 90%;
                margin-top: 10px;
                margin-left: 35px;
                li {
                    width: 100%;
                    margin-bottom: 5px;
                }
                form {
                    width: 100%;
                    position: relative;
                    margin-bottom: 5px;
                    .distrr{
                        width: 90%;
                        font-size: 15px;
                        min-height: 15px !important;
                        margin-bottom: 7px;
                        resize: none;
                    }
                    button[type=submit]{
                        cursor: pointer;
                        position: absolute;
                        margin-left: 10px;
                        height: 0px;
                        right: 9%;
                        width: 0px;
                        top: -5px;
                        font-size: 18px;
                        background: transparent;
                    }
                    .pointer{
                        position: absolute;
                        top :17px;
                        font-size: 18px;
                        width: 0px;
                        height: 0px;
                        right: 9%;
                    }
                }
            }
        }
        .examTitle {
            margin-top: 20px;
            margin-left: 5px;
            font-size: 20px;
            p {
                margin-bottom: 2px;
            }
        }
    }
    .examTools {
        display: flex;
        flex-flow: column;
        // @media (max-width : 1000px){
        //     position: absolute;
        //     display: none;
        // }

        .ExamToolsNav {
            width: 100%;
            padding: 10px;
            background-color: white;
            margin-bottom: 10px;
        }
        .ExamToolBody {
            width: 100%;
            padding: 10px;
            height: calc(92vh - 100px);
            overflow: auto;
            background-color: white;
        }
    }
    .generateButtonContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        .generateButton,
        .selectButton {
            margin: 10px auto;
        }
    }
}

input[type="number"] {
    -moz-appearance: textfield;
}

.examsBar2{
    position: absolute;
    top: 8px;
    left:   10px;
    font-size: 20px;
    cursor: pointer;
}
