* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway';

}

body {
  font-family: 'Raleway';
  padding-top: 63px;

}
#content{
  background-color: #F0EBF8 ;

}

.active1 {
  background-color: #007ee5;
  border-radius: 15px;
}

@media all and (min-width: 1200px) {
  .container{
      width: 1170px;
      margin: auto;
  }
}